body {
  background: radial-gradient(at left top, rgb(172, 172, 172), rgb(36, 36, 36));
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.head-class {
  top: 0px;
  left: 0;
  height: 3rem;
  width: 100vw;
  background: linear-gradient(90deg, rgb(144, 149, 165), rgb(83, 86, 95));
  font-size: 1.5rem;
  position: sticky;
  opacity: 0.9;
}

.pagination {
  position: fixed;
  bottom: 20px;
  width: 100%;
  text-align: center;
  background-color: #505b69;
}

.pagination a {
  color: black;
  text-decoration: none;
  padding: 8px 15px;
  display: inline-block;
}

.pagination a.active {
  background-color: rgb(139, 163, 231);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  color: rgb(139, 163, 231);
  background: rgba(128, 128, 128, 0.5);
}

h1 {
  text-align: center;
  font-size: xx-large;
}

img {
  width: 70%;
  height: auto;
}
